<!DOCTYPE html>
<html>
  <head>
    <title>Rubydemo1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="map">
      <div id="wrapper">
        <button id="load_map_button" class="mdc-button mdc-button--raised">
          Load Dynamic Map
        </button>
      </div>
    </div>
  </body>
</html>
